<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <level>INFO</level>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

  <logger name="com.feedzai.commons.sql.abstraction" level="trace"/>
  <logger name="com.feedzai.commons.sql.abstraction.engine.impl" level="trace"/>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>